html, body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica';
    font-size: 15px;
    box-sizing: border-box;
}

.muster-btn {
    background: none;
    border: none;
    border-radius: 2px;
    color: inherit;
    cursor: pointer;
    display: inline-block;
    font-family: inherit;
    font-size: inherit;
    font-weight: 200;
    letter-spacing: 1px;
    margin: 15px 30px;
    outline: none;
    padding: 10px 0;
    position: relative;
    text-transform: uppercase;
    width: 100px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.muster-btn:after {
    content: '';
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;

}

.muster-btn.btn:before {
    text-transform: none;
    line-height: 1;
    speak: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
}

.muster-submit {
    color: #fff;
    background-color: #1B86BC;
    box-shadow: 0 5px #146289;
    overflow: hidden;
}

.muster-submit:before {
    position: relative;
    color: #fff;
    padding: 0;
    overflow: hidden;
    z-index: 1;
    display: none;
    background: none;
    content: "Saving";
}

.muster-submit:after {
    background-color: #146289;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 0;
    width: 0;
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
}

.muster-submit.active-btn:before {
    display: inline;
}

.muster-submit.active-btn:after {
    display: inline;
    -webkit-animation: fillToRight 0.7s forwards;
    -moz-animation: fillToRight 0.7s forwards;
    animation: fillToRight 0.7s forwards;
}

@-webkit-keyframes fillToRight {
    to { 
        width: 100%;
    }
}

@-moz-keyframes fillToRight {
    to { 
        width: 100%;
    }
}

@keyframes fillToRight {
    to { 
        width: 100%;
    }
}